// Növeljük meg a tartalom maximális szélességét
$content-width: 100rem;

// Sidebar szélesség
$nav-width: 18.75rem; 
$nav-width-md: 15.5rem;

// Színek
$link-color: #8A2432;
$nav-link-color: #8A2432;
